<div class="modal-header">
  <h1 class="modal-title fs-5">Create Content</h1>
</div>
<div class="modal-body" *ngIf="contentForm">
  <form class="row g-3" [formGroup]="contentForm" (submit)="submit()">
    <div class="col-md-12">
      <div class="form-floating mb-2">
        <input
          type="file"
          accept="image/*"
          class="form-control"
          id="image"
          (change)="onSelectImage($event)"
        />
        <label for="image" class="form-label">Image</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-floating mb-2">
        <input
          type="title"
          class="form-control"
          id="title"
          formControlName="title"
        />
        <label for="title" class="form-label">Title</label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-floating">
        <textarea
          class="form-control"
          formControlName="desc"
          placeholder="Leave a Description here"
          id="desc"
          style="height: 200px"
        ></textarea>
        <label for="desc">Description</label>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-success w-100"
        [disabled]="
          contentForm.invalid ||
          (loadingService.isLoading('add-content') | async) === true
        "
      >
        <span
          *ngIf="(loadingService.isLoading('add-content') | async) === true"
          class="spinner-border spinner-border-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        {{
          (loadingService.isLoading("add-content") | async) === true
            ? "Posting..."
            : "Post"
        }}
      </button>
    </div>
  </form>
</div>
